@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Dancing+Script:wght@600&display=swap');
@import 'tailwindcss';

@theme {
  --font-montserrat: 'Montserrat', sans-serif;
  --font-dancing-script: 'Dancing Script', cursive;

  --background-image-publish: url('/images/background_publish.svg');
}

@keyframes fadeIn {
  from { opacity: 0; transform: scale(0.95); }
  to { opacity: 1; transform: scale(1); }
}

.animate-fadeIn {
  animation: fadeIn 0.15s ease-out forwards;
}


@keyframes marquee {
  0% { transform: translateX(100%); }
  100% { transform: translateX(-100%); }
}
.animate-marquee {
  animation: marquee 40s linear infinite;
}